@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~@iconscout/unicons/css/line.css";

body {
    @apply flex flex-col h-screen justify-between items-center bg-gray-50;
}
